@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
  background-color: blueviolet;
  height: 100vh;
  margin: 0;
  font-family: 'Didact Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

#root {
  min-height: 100vh;
}

button {
  border: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
